@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation{
    position: relative;
}

.underline-animation::before {
    content: '';
    display: block;
    height: 1px;
    background: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: right 0.4s ease-in, left 0.4s ease-in;
}

.underline-animation:hover::before {
    right: 0;
    transition: right 0.4s ease-in;
}

.spaced-animation {
    transition: letter-spacing 0.4s ease-in-out;
}

.spaced-animation:hover {
    letter-spacing: 4px;
}

.bg-dark-rainbow {
  background: linear-gradient(to left, #2F0000, #2F1800, #2F2F00, #182F00, #002F2F, #18002F, #2F002F);
}

.text-dark-rainbow {
    background: linear-gradient(to left, #2F0000, #2F1800, #2F2F00, #182F00, #002F2F, #18002F, #2F002F);
 
  }